{#
/**
* @file
* Theme override to display a region.
*
* Available variables:
* - content: The content for this region, typically blocks.
* - attributes: HTML attributes for the region <div>.
    * - region: The name of the region variable as defined in the theme's
    * .info.yml file.
    *
    * @see template_preprocess_region()
    */
    #}
    {%
    set classes = [
    'region',
    'region-' ~ region|clean_class,
    'container-fluid',
    'py-3',
    'mb-3',
    'd-flex',
    'align-items-center',
    'justify-content-center'
    ]
    %}
    {% if content %}
    <div{{ attributes.addClass(classes) }}>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="d-flex justify-content-between">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
</div>
{% endif %}



<!-- Breaking News Start -->
{# <div class="container-fluid bg-dark py-3 mb-3">
    <div class="container">
        <div class="row align-items-center bg-dark">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="bg-primary text-dark text-center font-weight-medium py-2" style="width: 170px;">
                        Breaking News
                    </div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center ml-3"
                        style="width: calc(100% - 170px); padding-right: 90px;">
                        <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold"
                                href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt,
                                sed faucibus nisl sodales</a></div>
                        <div class="text-truncate"><a class="text-white text-uppercase font-weight-semi-bold"
                                href="">Lorem ipsum dolor sit amet elit. Proin interdum lacus eget ante tincidunt,
                                sed faucibus nisl sodales</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> #}
<!-- Breaking News End -->