<div class="container-fluid d-none d-lg-block">
    <div class="row align-items-center bg-white py-3 px-lg-5">
        <div class="col-lg-4">
            <a href="/node" class="navbar-brand p-0 d-none d-lg-block">
                <h1 class="m-0 display-4 text-uppercase text-primary">Biz<span
                        class="text-secondary font-weight-normal">News</span></h1>
            </a>
        </div>
        <div class="col-lg-8 text-center text-lg-right">
            {# <a href="/node"><img class="img-fluid" src="../assets/img/ads-728x90.png" alt=""></a> #}
        </div>
    </div>
</div>